@using MedicineEshop.ViewModel
@model MedicineEshop.ViewModel.SaleMedicineModel
@{
    ViewBag.Title = "SaleMedicine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Order Medicine
                </div>

                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-horizontal">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="caption font-green-sharp">
                                                <i class="icon-speech font-green-sharp"></i>
                                                <span class="caption-subject bold uppercase" style="font-weight:bold; font-size:16px;"> Medicine Details</span>

                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-7">
                                                        <a class="btn btn-warning selectMedicine" data-toggle="modal" href="#directSaleMedicineModal" id="selectMedicine">
                                                            <i class="fa  fa-check-square-o"></i>
                                                            <b>Select Medicine</b>
                                                        </a>
                                                    </div>
                                                    <label class="col-md-5"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-5 control-label"><b>Payment Type</b> <span style="color: red">*</span></label>
                                                <div class="col-md-7">
                                                    <div class="input-icon">
                                                        <i class="fa fa-text-width"></i>
                                                        @Html.DropDownListFor(c => c.PaymentTypeID, new SelectList(ViewBag.PaymentTypeList, "Value", "Text"), new { @class = "form-control input-circle", @id = "PaymentTypeID", @style = "max-width: 600px;" })
                                                        @Html.ValidationMessageFor(c => c.PaymentTypeID)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label"><b>Payment Referenct Number</b></label>
                                                <div class="col-md-8">
                                                    <div class="input-icon">
                                                        <i class="fa fa-text-width"></i>
                                                        @Html.TextBoxFor(c => c.PaymentRefNumber, new { @class = "form-control input-circle", autocomplete = "off", @placeholder = "Online Payment Ref. number", @id = "PaymentRefNumber", @style = "max-width: 600px;" })
                                                        @Html.ValidationMessageFor(c => c.PaymentRefNumber)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.Hidden("ImageString")
                                                @Html.Label("Prescription Image", new { @class = "col-lg-4 control-label" })
                                                <div class="col-lg-7">
                                                    @Html.TextBox("ImageFile", "", new { @class = "form-control", @placeholder = "Please provide prescription image", @type = "file", @accept = "image/*" })
                                                    @*@Html.ValidationMessage("ImageFile", "", new { @class = "text-danger", @id = "ImageFileValMsg" })*@
                                                </div>
                                                <div class="col-lg-1">
                                                    <span class="required">*</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">


                                    <div class="row">
                                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                                        <div class="portlet light bordered">
                                            <div class="portlet-title">
                                                <div class="caption font-green-sharp">
                                                    <i class="icon-speech font-green-sharp"></i>
                                                    <span class="caption-subject bold uppercase"> Medicine Item List</span>

                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-responsive" style="overflow-y:scroll;height:350px;display:block;">
                                                    <table class="table table-striped table-bordered table-hover" id="gridTable">
                                                        <thead>
                                                            <tr>
                                                                <th style="display:none;">
                                                                    Medicine ID
                                                                </th>
                                                                <th>
                                                                    Medicine Name
                                                                </th>
                                                                <th>
                                                                    Company
                                                                </th>
                                                                <th>
                                                                    Medicine Type
                                                                </th>
                                                                <th>
                                                                    Sale Price
                                                                </th>
                                                                <th>
                                                                    Sale Qty
                                                                </th>
                                                                <th>
                                                                    Total
                                                                </th>
                                                                <th>
                                                                    Current Stock
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="gridTableBodyForSaleMedicine"></tbody>
                                                    </table>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label"> <b>Total Order Quantity</b></label>
                                                            <div class="col-md-6">
                                                                <div class="input-icon">
                                                                    <i>&#2547;</i>
                                                                    <input type="text" class="form-control input-circle" id="TotalQty" readonly="readonly">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label"><b>Total Order Vaule</b></label>
                                                            <div class="col-md-6">
                                                                <div class="input-icon">
                                                                    <i>&#2547;</i>
                                                                    <input type="text" class="form-control input-circle" id="TotalSaleValue" readonly="readonly">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- END SAMPLE TABLE PORTLET-->
                                    </div>
                                </div>
                                <!-- END GENERAL PORTLET-->
                                <div class="form-group">
                                    <div class="col-md-4 text-right">
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <button class="btn btn-success" id="save" type="submit"><i class="fa fa-save"></i> Save</button>
                                        <a class="btn btn-danger" id="clear" href="@Url.Action("SaleMedicine", "SaleMedicine")"><i class="fa fa-cut"></i> Clear</a>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-modal-lg" id="directSaleMedicineModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-sharp">
                            <i class="icon-speech font-green-sharp"></i>
                            <span class="caption-subject bold uppercase"> Medicine View</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table" id="ModalTableForData">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Medicine Name
                                        </th>
                                        <th>
                                            Company
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Sale Price
                                        </th>
                                        <th>
                                            Stock Qty
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="ModalCheckBoxItemList"></tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    jQuery(document).ready(function () {

        var table = $("#ModalTableForData").dataTable({
            "processing": true,
            "serverSide": true,
            "searchHighlight": true,
            "ajax": {
                url: '@Url.Action("GetAllMedicineForSale", "SaleMedicine")',
                type: 'POST'
                },
                "columns": [
                    {
                        "data": "MedicineId",
                        "orderable": false,
                        render: function (data, type, object) {
                            return "<input type='checkbox' class='checker' id='checkbox' value='" + object.MedicineId + "' />" +
                                " <input type='hidden' class='medicineId' value='" + object.MedicineId + "' />";
                        }
                    },
                    {
                        "data": "MedicineName",
                        render: function (data, type, object) {
                        return "<p class='medicineName'>" + object.MedicineName +"</p>";
                        }
                    },
                    {
                        "data": "CompanyName",
                        render: function (data, type, object) {
                        return "<p class='companyName'>" + object.CompanyName + "</p>";
                        }
                    },
                    {
                        "data": "MedicineTypeName",
                        render: function (data, type, object) {
                        return "<p class='medicineTypeName'>" + object.MedicineTypeName + "</p>";
                        }
                    },
                    {
                        "data": "SalePrice",
                        render: function (data, type, object) {
                        return "<p class='SalePrice'>" + object.SalePrice + "</p>";
                        }
                    },
                    {
                        "data": "StockQty",
                        render: function (data, type, object) {
                        return "<p class='stockQty'>" + object.StockQty + "</p>";
                        }
                    }

                ]
        });


        $("#ModalTableForData").on('change', 'input[Id="checkbox"]', function () {
            if ($(this).is(':checked')) {
                var medicineId = $(this).parents('tr').find('.medicineId').val();
                var medicineName = $(this).parents("td").siblings("td").find(".medicineName").text();
                var companyName = $(this).parents("td").siblings("td").find(".companyName").text();
                var medicineTypeName = $(this).parents("td").siblings("td").find(".medicineTypeName").text();
                var SalePrice = $(this).parents("td").siblings("td").find(".SalePrice").text();
                var stockQty = $(this).parents("td").siblings("td").find(".stockQty").text();

                if (parseInt(stockQty) > 0) {
                    var value = "";

                    $.each($("#gridTableBodyForSaleMedicine tr"), function () {
                        value = $(this).find('td:eq(0)').text();
                    });

                    if (medicineId === value) {
                        toastr.warning("This Item is already Selected");
                    } else {

                        $("#gridTableBodyForSaleMedicine").append('<tr>' +
                            '<td style="display:none;">' +
                            medicineId +
                            '</td>' +
                            '<td>' +
                            medicineName +
                            '</td>' +
                            '<td>' +
                            companyName +
                            '</td>' +
                            '<td>' +
                            medicineTypeName +
                            '</td>' +
                            '<td>' +
                            SalePrice +
                            '</td>' +
                            '<td style="width: 15%">' +
                            '<input type="text" class="form-control input-circle SaleQty" id="SaleQty" value="' +
                            1 +
                            '" placeholder="Sale Qty">' +
                            '</td>' +
                            '<td style="width: 15%">' +
                            '<input type="text" class="form-control input-circle totalValue" readonly="readonly" id="totalValue" value="' + SalePrice +
                            '" placeholder="Total Value">' +
                            '</td>' +
                            '<td style="width: 15%">' +
                            '<input type="text" class="form-control input-circle stockQty" readonly="readonly" id="stockQty" value="' + stockQty +
                            '" placeholder="Total Value">' +
                            '</td>' +
                            '</tr>'
                        );
                        totalChallanItemCount();
                        toastr.success("This Item is Selected");
                    }
                } else {
                    toastr.warning("Stock is not available for this medicie!");
                }


            }

        });

        $("#gridTableBodyForSaleMedicine").on('keyup', '.SaleQty', function () {
            var SaleQty = $(this).val();
            var SalePrice = $(this).parents('tr').find('td:eq(4)').html();
            var StockQty = $(this).parents('tr').find('.stockQty').val();

            if (parseInt(StockQty) < parseInt(SaleQty)) {
                $(this).val(parseInt(StockQty));
                var result = parseInt(StockQty) * parseInt(SalePrice);
                $(this).parents('tr').find('.totalValue').val(result);
                totalChallanItemCount();
                toastr.warning("You can't select more than stock quantity!");
            } else {
                var result = parseInt(SaleQty) * parseInt(SalePrice);

                $(this).parents('tr').find('.totalValue').val(result);
                totalChallanItemCount();
            }
        });

        $("#save").click(function (e) {
            gridSave();
        });

    });


    function totalChallanItemCount() {
        var totalQty = 0;
        var totalVal = 0;
        $("#gridTableBodyForSaleMedicine tr").each(function () {
            totalQty += parseInt($(this).find('.SaleQty').val());
            totalVal += parseInt($(this).find('.totalValue').val());
        });
        $("#TotalQty").val(totalQty);
        $("#TotalSaleValue").val(totalVal);
        return true;
    }

    function gridSave() {
        var totalQty = parseInt($("#TotalQty").val());
        var totalVal = parseInt($("#TotalSaleValue").val());
        var paymentId = parseInt($("#PaymentTypeID").val());
        var paymentRefNum = $("#PaymentRefNumber").val();

        var prescription = $('#ImageFile')[0].files[0];
        

        if (typeof prescription == 'undefined') {
            toastr.warning("Please enter prescription image!!");
        } else {
            var imageName = prescription.name;
            var imageFile = new FormData();
            imageFile.append(imageName, prescription);

            if (totalQty > 0 && totalVal > 0) {

                if (paymentId > 0) {

                    $.ajax({
                        type: 'POST',
                        url: "/SaleMedicine/GetHttpPostedFileBase",
                        processData: false,
                        contentType: false,
                        dataType: 'json',
                        async: false,
                        data: imageFile,
                        success: function () {

                        },
                        error: function () {

                        }
                    });

                var allSaleMedicineItem = [];
                allSaleMedicineItem.length = 0;

                $.each($("#gridTableBodyForSaleMedicine tr"),
                    function () {
                        allSaleMedicineItem.push({
                            MedicineId: $(this).find('td:eq(0)').html(),
                            MedicineName: $(this).find('td:eq(1)').html(),
                            SalePrice: $(this).find('td:eq(4)').html(),
                            Quantity: $(this).find('.SaleQty').val(),
                            TotalAmount: $(this).find('.totalValue').val()
                        });
                    });

                var dataObject = {
                    'TotalItem': totalQty,
                    'TotalSaleAmount': totalVal,
                    'PaymentTypeID': paymentId,
                    'PaymentRefNumber': paymentRefNum,
                    'ImageString': imageName,
                    'SaleMedicineItemList': allSaleMedicineItem
                }

                var dataList = JSON.stringify({ objSaleMedicineModel: dataObject });

                if (allSaleMedicineItem.length) {

                            $.ajax({
                                type: 'POST',
                                contentType: 'application/json',
                                dataType: 'json',
                                url: '@Url.Action("SaveAllSoldMedicineItem", "SaleMedicine")',
                                data: dataList,
                                beforeSend: function() {
                                    $('#preLoader').show();
                                },
                                success: function (data) {
                                    if (data.isRedirect) {
                                        window.setTimeout(function () {
                                            window.location = data.redirectUrl;
                                        }, 1000);
                                        toastr.info("Save Successfully.");
                                        $('#preLoader').hide();
                                    }
                                }
                            });
                        } else {
                            toastr.error("No Data found !! Select Medicine..");
                        }

                } else {
                    toastr.warning("Please select payment type!");
                }
            
            } else {
                toastr.warning("Please select medicine!!");
            }
        }

        
    }

</script>


