@model MedicineEshop.ViewModel.AuthModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Medicine E Shop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
     @Styles.Render("~/Content/Assets/css")
    <link href="../../Content/pages/login.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />

    <!-- END THEME STYLES -->
     @Scripts.Render("~/bundles/jquery")
    <link rel="shortcut icon" href="~/Content/img/medicon.png" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="#">
            <img src="../../Content/img/pharmalogo.png" style="height: 50px;" alt="" /><h4>Medicine E shop</h4>
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "login-form" }))
        {
            @Html.AntiForgeryToken()
            <h3 class="form-title">Sign In</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>
                    Enter any username and password.
                </span>
            </div>
            <div class="form-group">


                @Html.TextBoxFor(c => c.EmployeeId, new { @class = "form-control form-control-solid", @type = "text", @autocomplete = "off", @placeholder = "Employee ID", @name = "Employee ID" })
                @Html.ValidationMessageFor(c => c.EmployeeId, "", new { @class = "text-danger", @style = "font-size: xx-small" })

            </div>
            <div class="form-group">
                @Html.TextBoxFor(c => c.EmployeePassword, new { @class = "form-control form-control-solid", @type = "password", @autocomplete = "off", @placeholder = "Password", @name = "password" })
                @Html.ValidationMessageFor(c => c.EmployeePassword, "", new { @class = "text-danger", @style = "font-size: xx-small" })

            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <label class="rememberme check">
                            <input type="checkbox" name="remember" value="1" />Remember
                        </label>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="submit" class="btn btn-success uppercase">Login <i class="fa fa-sign-in"></i></button>
                    </div>
                </div>
            </div>

            <div class="create-account">
                <p>
                    <a href="javascript:;" id="register-btn" class="uppercase">Create an account</a>
                </p>
            </div>
        }
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        @using (Html.BeginForm("ForgotePassword", "Auth", FormMethod.Post, new { @class = "forget-form" }))
        {
            @Html.AntiForgeryToken()
            <h3>Forget Password ?</h3>
            <p>
                Enter your e-mail address below to reset your password.
            </p>
            <div class="form-group">
                @Html.TextBoxFor(c => c.EmployeeEmail, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "Email", @name = "email" })
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn btn-default">Back</button>
                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        }
        <!-- END FORGOT PASSWORD FORM -->
        <!-- START OF REGISTRATION FORM -->
        @using (Html.BeginForm("Registeration", "Auth", FormMethod.Post, new { @class = "register-form" }))
        {
            @Html.AntiForgeryToken()
            <h3>Sign Up</h3>
            <p class="hint">
                Enter your personal details below:
            </p>
            <div class="form-group">
                @Html.TextBoxFor(c => c.EmployeeName, new { @class = "form-control form-control-solid", @type = "text", @autocomplete = "off", @placeholder = "Full Name", @name = "fullname" })
                @Html.ValidationMessageFor(c => c.EmployeeName, "", new { @class = "text-danger", @style = "font-size: xx-small" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(c => c.EmployeeEmail, new { @class = "form-control form-control-solid", @type = "text", @autocomplete = "off", @placeholder = "EMAIL", @name = "email" })
                @Html.ValidationMessageFor(c => c.EmployeeEmail, "", new { @class = "text-danger", @style = "font-size: xx-small" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(c => c.EmployeePhone, new { @class = "form-control form-control-solid", @type = "text", @autocomplete = "off", @placeholder = "Contact Number", @name = "contactNo" })
                @Html.ValidationMessageFor(c => c.EmployeePhone, "", new { @class = "text-danger", @style = "font-size: xx-small" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(c => c.EmployeeArea, new { @class = "form-control form-control-solid", @type = "text", @autocomplete = "off", @placeholder = "Address", @name = "address" })
                @Html.ValidationMessageFor(c => c.EmployeeArea, "", new { @class = "text-danger", @style = "font-size: xx-small" })
            </div>
            <p class="hint">
                Your System Generated User ID is Below:
            </p>
            <div class="form-group">
                @Html.TextBoxFor(c => c.EmployeeId, new { @class = "form-control form-control-solid", @type = "text", @readonly = "readonly", @Value = ViewBag.UserId, @name = "userId" })
                @Html.ValidationMessageFor(c => c.EmployeeId, "", new { @class = "text-danger", @style = "font-size: xx-small" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(c => c.NewPassword, new { @class = "form-control form-control-solid", @type = "password", @autocomplete = "off", @placeholder = "Password", @name = "password" })
                @Html.ValidationMessageFor(c => c.NewPassword, "", new { @class = "text-danger", @style = "font-size: xx-small" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(c => c.RetypePassword, new { @class = "form-control form-control-solid", @type = "password", @autocomplete = "off", @placeholder = "Re-type Password", @name = "rpassword" })
                @Html.ValidationMessageFor(c => c.RetypePassword, "", new { @class = "text-danger", @style = "font-size: xx-small" })
            </div>
            <div class="form-group margin-top-20 margin-bottom-20" style="display:none">
                <label class="check">
                    <input type="checkbox" name="tnc" /> I agree to the <a href="javascript:;">
                        Terms of Service
                    </a>
                    & <a href="javascript:;">
                        Privacy Policy
                    </a>
                </label>
                <div id="register_tnc_error">
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="register-back-btn" class="btn btn-default">Back</button>
                <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        }
        <!-- END REGISTRATION FORM -->
    </div>
    <div class="copyright">
        &copy; @DateTime.Now.Year - Medicine E Shop
    </div>
    <!-- END LOGIN -->
    @Scripts.Render("~/bundles/plugins/scripts")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="../../scripts/login.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->



    <script>

        jQuery(document).ready(function () {
            @{
                if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
                {
                    <text>
                        var message = '@ViewBag.message';
                        
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "showDuration": "1000",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                            }
                            if (message === "Registration Successful") {
                                toastr.success(message);
                            } else {
                                toastr.warning(message);
                            }
                       
                    </text>
                }
            }

            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Login.init();
            Demo.init();


        });

    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>