@using MedicineEshop.ViewModel
@model MedicineEshop.ViewModel.MedicineTypeSetupModel
@{
    ViewBag.Title = "MedicineTypeSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var medicineTypeModel = ViewBag.MedicineTypeList as List<MedicineTypeSetupModel>;
}

<div class="page-head">
    <div class="page-title">
        <h1>Manage Medicine Type</h1>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add Medicine Type
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("SaveOrUpdateMedicineType", "Setup", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(c => c.MedicineTypeName, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                <div class="input-icon">
                                    <i class="fa fa-text-width"></i>
                                    @Html.TextBoxFor(c => c.MedicineTypeName, new { @class = "form-control input-circle", @placeholder = "Medicine Type", @id = "medicineType", @style = "max-width: 580px;" })
                                    @Html.ValidationMessageFor(c => c.MedicineTypeName)
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.ActiveStatus, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                <div class="checkbox-list" style="margin-top: 8px;">

                                    @Html.CheckBoxFor(c => c.ActiveStatus, new { @class = "checker" })

                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 text-left">
                                @Html.HiddenFor(c => c.MedicineTypeId)
                                <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Save</button>
                                <a class="btn btn-danger" href="@Url.Action("MedicineTypeSetup", "Setup")"><i class="fa fa-cut"></i> Clear</a>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                }

            </div>

        </div>


        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Medicine Type Lists
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="medicineTypeTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Medicine Type</th>
                                <th>Created By</th>
                                <th>Active Status</th>
                                <th class="text-center" style="width: 20%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (medicineTypeModel != null && medicineTypeModel.Count != 0)
                            {
                                int counter = 1;
                                foreach (var data in medicineTypeModel)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td>@data.MedicineTypeName</td>
                                        <td>@data.CreateBy</td>
                                        @if (data.ActiveYN == "Y")
                                        {
                                            <td>
                                                <i class="fa fa-check-circle" style="color: green;"> Active</i>
                                            </td>
                                        }
                                        else
                                        {
                                            <td><i class="fa fa-times-circle" style="color: red;"></i> InActive</td>
                                        }
                                        <td class="text-center">
                                            @Html.ActionLink(" Edit", "MedicineTypeSetup", "Setup", new { medicineTypeId = data.MedicineTypeId }, new { @class = "btn btn-primary fa fa-edit btn-xs" }) ||
                                            @Html.ActionLink(" Delete", "DeleteMedicineType", "Setup", new { medicineTypeId = data.MedicineTypeId }, new { @class = "btn btn-danger fa fa-trash-o btn-xs" })
                                        </td>
                                    </tr>
                                    counter = counter + 1;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>
    jQuery(document).ready(function () {

        var table = $("#medicineTypeTable").dataTable();

            @{
                if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
                {
                    <text>
                        var message = '@ViewBag.message';


                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "showDuration": "1000",
                            "hideDuration": "1000",
                            "timeOut": "1000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        toastr.success(message);
                    </text>
                }
            }
        });

</script>